#total_header{
    width: 96%;
    margin-left: 70px;
    background-image: linear-gradient(to right,rgba(221, 77, 51, 0.533), #ff6666 ); 
    display: flex;
    flex-direction: row;
    position :absolute top 75px;
    height: 50px;
    border-radius: 4px;
    align-items: center;
}

#header_left{
    overflow: hidden;
    font-family: 'Rockwell', 'Arial', serif;
    color: #f9fac7;
    text-align: left;
    align-items: center;
    width: 70%;
    float: left;
    white-space: nowrap;
    flex: 1;
    margin-left: 4px;
}

#header_right a{
    overflow: visible;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #f9fac7;
    white-space: nowrap;
}

#header_right select{
    background-color: #FBEAEB;
    border: #FBEAEB;
    border-radius: 4px;
    margin-right: 4px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
body {
    background-color: #F4EFEA;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#coming_soon{
    text-align: center;
    background-color: #ba5252;
    width: 15%;
	padding-top: 10px;
	padding-right: 30%;
	padding-bottom: 10px;
	padding-left: 30%;
    color: #FBEAEB;
}

[method=post]{
	text-align: center;
	background-color: #CCFFFF;
	margin: 1em 0;
	display: flex;
	flex-direction: column;
	width: 15%;
	padding-top: 10px;
	padding-right: 30%;
	padding-bottom: 10px;
	padding-left: 30%;
}

#container {
    display: flex;
    width: 100%;
}

#first {
    border: 1px solid black;
    border-radius: 5px;
    width: 35%;
    height: 90vh;
    margin-left: 10px;
}
.grid-container {
    display: grid;
    grid-template-areas: "bAdd bRemove bRefresh bReset";
    grid-gap: 5px;
}
.grid-item:nth-child(1) {
    grid-area: bAdd;
}
.grid-item:nth-child(2) {
    grid-area: bRemove;
}
.grid-item:nth-child(3) {
    grid-area: bRefresh;
}
.grid-item:nth-child(4) {
    grid-area: bReset;
}
/*
  @media(max-width:100px) 
  { .sidebar_text{display:none;}};
  */

  /* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #ff6666;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
.openbtn:hover {
    background-color: #6666ff;
  }

.dialog{
    background-image: linear-gradient(to right, #f8e7f6, #FBEAEB); 
    border-radius: 4px;
    margin-right: 4px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    justify-content: center; 
    border: black;
    visibility: visible;
}

.tooltip{
    background-color: #FBEAEB;
    border: #1b1b1b;
    border-radius: 4px;
    margin-right: 4px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

footer{
    position: absolute;
    width: 95%;
    height: 50px;
    margin-left: 70px;
    background: #ff6666; 
    display: block;
    text-align: center;
    bottom: 0;
    overflow-y: hidden;
    border-radius: 4px;
  }

footer a{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    font-size: 18px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

footer a:hover{
    color: #f9fac7;
}

@media screen and (max-height: 480px) {
    footer  {
          visibility: hidden;
    }
    }