{% extends 'layout.html' %}
{%block headspace %}
<div class="content_header">
    {% block content_header %}
    {% endblock %}
    </div>
{% endblock %}
{% block content %}
<div id = "Graph">
  
</div>
<div id = "container">
    <div id = "first">
      <div class = "grid-container">
        <div class="grid-item">
          <button type = "button" id = "bAdd" class = "small_btn">ButtonAdd</button>
        </div>
        <div class="grid-item">
          <button type = "button" id = "bRemove" class = "small_btn">ButtonRemove</button>
        </div>
        <div class="grid-item">
          <button type = "button" id = "bRefresh" class = "small_btn">ButtonRefresh</button>
        </div>
        <div class="grid-item">
          <button type = "button" id = "bReset" class = "small_btn">ButtonReset</button>
        </div>
      </div>
    </div>
    <div id = "CaptionText">
      <p>Current Meraki Network Statistics.</p>
    </div>
  </div>

<div class="content_top_left">
{% block content_top_left %}
{% endblock %}
</div>

<div class = "content_top_right">
{% block content_top_right %}
{% endblock %}
</div>

<div class = "content_bottom_left">
{% block content_bottom_left %}
{% endblock %}
</div>

<div class="content_bottom_right">
{% block content_bottom_right %}
{% endblock %}
</div>


{% endblock %}