{% extends 'layout.html' %}
{%block headspace %}
<div class="content_header">
    {% block content_header %}
    {% endblock %}
    </div>
{% endblock %}
{% block content %}

<div id = "welcome">
{% if g.user %}
  <h2>  Welcome back {{g.user['username']}} to EE_Cafe Webapp</h2>
{% else %}
  <h2>  Welcome to EE_Cafe Webapp</h2>
{% endif %}      
</div>

<div id = "graph">
  <h2> Current Network Status </h2>
  <img src="{{url_for('static', filename='plot.png')}}"/> 
  
  <img src=" data:image/png;base64, {{networks_graph}}"/>

  <div id = "container">
    <div id = "first">
      <div class = "grid-container">
        <div class="grid-item">
          <button type = "button" id = "bAdd" class = "small_btn" href="{{url_for('dashboard.get_networks')}}">Network Add New</button>
        </div>
        <div class="grid-item">
          <button type = "button" id = "bRemove" class = "small_btn" href="{{url_for('dashboard.get_networks')}}">Network Remove</button>
        </div>
        <div class="grid-item">
          <button type = "button" id = "bRefresh" class = "small_btn" href="{{url_for('dashboard.graph')}}">Refresh Status</button>
        </div>
        <div class="grid-item">
          <button type = "button" id = "bReset" class = "small_btn" href="{{url_for('dashboard.reset_networks')}}" >Reset Network</button>
        </div>
      </div>
    </div>
    <div id = "CaptionText">
      <p>Current Meraki Network Statistics.</p>
    </div>
  </div>

</div>
<div class="content_top_left">
{% block content_top_left %}
{% endblock %}
</div>

<div class = "content_top_right">
{% block content_top_right %}
{% endblock %}
</div>

<div class = "content_bottom_left">
{% block content_bottom_left %}
{% endblock %}
</div>

<div class="content_bottom_right">
{% block content_bottom_right %}
{% endblock %}
</div>


{% endblock %}